@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
html,
body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
 
}


.spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

#hand-rotate {
  animation: hand_rotate 0.6s infinite alternate;
  transform-origin: right;
  transform-box: fill-box;
  

}
#hair {
  animation: hair 1s infinite alternate;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes hair {
  from {
    transform: rotateZ(5deg)
  }
  to {
    transform: rotateZ(0deg)
  }

  
}

#typing_name {
  animation: typing_name 0.2s  infinite alternate ;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes hand_rotate {
  from {
    transform: rotateZ(10deg)
  }
  to {
    transform: rotateZ(-20deg)
  }

  
}
@keyframes typing_name {
  from {
    transform: rotateZ(-5deg)
  }
  to {
    transform: rotateZ(3deg)
  }

  
}