


$primary-color: #e2a700;
$secondary-color: lighten($primary-color, 52%);

// loader variables

$diameter : 100px;
$circle-line-width:20px;




.main_banner {
  background-color: $secondary-color;
  padding-top: 5rem;
  padding-bottom: 10rem;
  vertical-align: baseline;
}


.heading {
  font-size: 52px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}



.banner_content {
  display: flex;
  
}

.banner_text {
  width: 100%;
  padding: 9rem 10rem 0rem 0rem;
}

.banner_img_contaner {
  width: 100%;
  background: $primary-color;
  border-radius: 2px;
}

.banner_img_contaner img{
  width: 100%;
  
  margin-left: -44px;
  margin-top: 43px;
  margin-bottom: -40px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 15%);
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 15%);


}

.second_heading {
  font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
    color: $primary-color;
}


.container {
  width: 80%;
  margin: auto;
}

.about {
  margin-top: 12px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #79766c;
}


// profile section

.profile_section {
  display: flex;
}

.profile_section > div {
  flex: 1;
}


.profile_section > div:first-child {
  margin-right: 1rem;
}

.profile_section > div:last-child {
  margin-left: 1rem;
}



.education_specific {
  display: flex;
}

.education_specific >div:first-child {
  width: 15%;
}

.education_specific >div:last-child {
  width: 80%;
}


.education_specific button {
  margin-top: 17px;
}

.badge {

  border: none;
  padding: 6px 15px;
  border-radius: 19px;
  font-weight: bold;
  box-shadow: -1px 0px 6px lighten($primary-color, 40%);
  background: $primary-color;
  color: $secondary-color;
}


// loader css 


// .loader {
//   position: relative;
//   height: $diameter;
//   width: $diameter;
//   overflow: hidden;
// }

// .circle {
//   position: relative;
// }

// .outer_circle {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: $diameter;
//   width: $diameter;
//   border-radius: 50%;
//   background-color: red;
// }


// .inner_circle {
//     position: absolute;
//     top: $circle-line-width;
//     left: $circle-line-width;
//     height: $diameter - 2 * $circle-line-width;
//     width: $diameter - 2 * $circle-line-width;
//     background: #fff;
//     border-radius: 50%;
// }

// .box {
//   position: absolute;
//   height: $diameter/2;
//   width: $diameter/2;
//   background: #fff;
//   // border-radius: 50%;
// }



// .box_top_left {
//   left: 0;
//   top: 0;
//   transform-origin: 100% 100%;
//   animation: show-top-left 2s linear forwards;
// }

// .box_top_right {
//   top: 0;
//   left: $diameter/2;
//   transform-origin:0 100%;
//   animation: show-top-right 2s linear 6s forwards;
// }



// .box_bottom_left {
//   left: 0;
//   top: $diameter/2;
//   transform-origin: 100% 0;
//   animation: show-bottom-left 2s linear 2s forwards;
// }

// .box_bottom_right {
//   left: $diameter/2;
//   top: $diameter/2;
//   transform-origin: 0 0;
//   animation: show-bottom-right 2s linear 4s forwards;
// }

// @keyframes show-top-left {
//    0% {

//      transform: skewX(0deg);
//    }
//    99.9% {
//      height: $diameter/2;
//      width: $diameter/2;
//    }
//    100% {
//      height: 0;
//      width: 0;
//      transform: skewX(90deg);
//    }
// }


// @keyframes show-bottom-left {
//   0% {
//     transform: skewy(0deg);
//   }
//   99.9% {
//     height: $diameter/2;
//     width: $diameter/2;
//   }
//   100% {
//     height: 0;
//     width: 0;
//     transform: skewy(-90deg);
//   }
// }


// @keyframes show-bottom-right {
//   0% {
//     transform: skewx(0deg);
//   }
//   99.9% {
//     height: $diameter/2;
//     width: $diameter/2;
//   }
//   100% {
//     height: 0;
//     width: 0;
//     transform: skewx(90deg);
//   }
// }

// @keyframes show-top-right {
//   0% {
//     transform: skewy(0deg);
//   }
//   99.9% {
//     height: $diameter/2;
//     width: $diameter/2;
//   }
//   100% {
//     height: 0;
//     width: 0;
//     transform: skewy(-90deg);
//   }
// }



// .beginner .box_bottom_left {
//   transform-origin: none !important;
//   animation: none !important;


// }

// .beginner .box_bottom_right {
//   transform-origin: none !important;
//   animation: none !important;
// }

// .beginner .box_top_right {
//   transform-origin: none !important;
//   animation: none !important;
// }


// .experianced .box_top_right {
//   transform-origin: none !important;
//   animation: none !important;
// }


// .avarage .box_bottom_right {
//   transform-origin: none !important;
//   animation: none !important;
// }


// .avarage .box_top_right {
//   transform-origin: none !important;
//   animation: none !important;
// }



// another loader

.circular {
   height: $diameter;
   width: $diameter;
   position: relative;
   border-radius: 50%;
  //  transform: scale(2);
}

.circular .inner {
  // display: none;
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: $diameter - $circle-line-width;
  width: $diameter - $circle-line-width;
 margin: -40px 0 0 -40px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}


.circle .bar {
  position: absolute;
  height: 100px;
  width: 100px;
  background: #dad5d5;
  -webkit-border-radius:100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100px;
  width: 100px;
  -webkit-border-radius:100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: $primary-color;
}

.circle .left .progress {
  z-index: 1;
  animation: left 2s linear both;
}


@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right  {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progress {
  animation: right 2s linear both;
  animation-delay: 2s;

}

@keyframes right { 
  100% {
    transform: rotate(180deg);
  }
  
}

.progress_container {
  background: #ffffff;
  display: inline-block;
  box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 17%);
  border-radius: 50%;
  padding: 8px 8px;
}