@import "../component/variables.scss";


.main_banner svg {
  height: 103%;
  width: 97%;
}
.banner_name p {
  font-size: 27px;
  line-height: 0;
  font-weight: 600;
  letter-spacing: 2px;
}

.about_me {
  display: flex;
}

.about_me >div {
  flex: 1;
  position: relative;
}

.about_me>div:first-child {
  padding-right: 9rem;
}

.about_me>div:last-child {
align-self: center;
}

.typing_name_position {
  position: absolute;
  width: 12.6rem;
  height: 6rem;
  top: 3.2rem;
  background: #1e1e1e;
  color: $primary-color;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.7em;
  font-weight: bold;
  letter-spacing: 0.3px;
  left: 15.1rem;
  border-radius: 5px 5px 0 0;
  border: 0.6rem solid black;
  padding: 1rem 0.5rem;

}



.pipe {
  margin-left: -3px;
  animation: blink 0.6s 1s infinite ease;

}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.about_me>div:first-child svg {
  width: 100%;
  position: relative;
}
.banner_name h1{
  font-size: 80px;
  line-height: 0.8em;
  font-size: 80px;
  padding: 0;
  margin: 0;

}

.banner_name {
  align-self: center;
}

.banner_name h3 {
  font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 17px;
}
.main_banner >div {
  display: flex;
  justify-content: space-between;
}

.light_bg {
  background: linear-gradient(89.3deg, $second-light-color 0.44%, $light-color 41.88%);

}

.main_banner  {
   background: linear-gradient(89.3deg, $second-primary-color 0.44%, $primary-color 41.88%);

  height: 100%;

  width: 100%;
}


.heading {
  font-size: 52px;
  letter-spacing: 1px;
  color: $primary-color;
  margin-top: 1rem;
  text-transform: uppercase;
  margin: 0;
}



.banner_content {

  margin-top: -11.8rem;
  text-align: center;
  
}

.banner_text {
  width: 80%;
  margin: auto;
  align-self: center;

}








@media (max-width: 480px) {
  
   
}
// }



.banner_img_container {
  margin: auto;
  width: 250px;
  border: 4px solid #fff;
  background: #dbdfe2;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
    -webkit-box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 15%);
   box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 15%);
}

.education_section {
  // background-color: $light-color;
padding-top: 1rem;
  // border-radius: 10rem 0px 10rem 0px;

}

// .education_border {
//   border: 2px solid $primary-color;
//   border-radius: 10rem 0px 10rem 0px;
// position: relative;
// border-left: none;
// border-right: none;
// padding: 1rem 0 1rem 0rem;
// }


.banner_img_container .png_image {
  width: 80%;
  height: 80%;
  transform: translateY(11%);
}

.banner_img_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 50%;

  // height: 100%;

  // margin-left: -44px;
  // margin-top: 43px;
  // margin-bottom: -40px;
 


}

.second_heading {
  font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
    color: black;
}


.third_heading {
  font-size: 30px;
  margin: 0;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 1rem;
  text-transform: capitalize;
  border-bottom: 3px solid $primary-color;
  width: 2rem;
  padding-bottom: 5px;
}



.about {
  margin-top: 12px;
  font-size: 18px;
  letter-spacing: 1.3px;
  color: #2d2b21;
  line-height: 1.8em;
}


// profile section

.profile_section {
  display: flex;
  justify-content: space-between;
}

.profile_section > div {
  flex: 1;

}


.profile_section > div:first-child {
  margin-right: 1rem;
}

.profile_section > div:last-child {
  margin-left: 1rem;
}



.education_specific {
  display: flex;
}




.education_specific button {
  margin-top: 17px;
  width:8rem;
  margin-right: 13px;

}

.badge {

  border: none;
  padding: 6px 15px;
  border-radius: 19px;
  font-weight: bold;
  box-shadow: -1px 0px 6px $secondary-color;
  background: linear-gradient(89.3deg, $second-primary-color 0.44%, $primary-color 41.88%);
  color: #fff;
}







// experiance skill section


.experiance_skill {
  display: flex;
  justify-content: space-between;
}

.experiance_skill >div{
flex: 1;
}

.skill {
  padding-left: 2rem;
}


// .skill >div{
//   display: flex;
//   // justify-content: space-between;
//   // margin-top: 3rem;
//   flex-wrap: wrap;

// }

.skill h1 {
  margin-left: 3rem;
}

.skill >div >div{
margin-left: 3rem;
}


.laguage >div >div {
 margin-left: 1rem;
 margin-right: 1rem;
 margin-top: 1rem;
}






@media (max-width: 480px) {
  .laguage {
    flex-direction: column;
  }
 
   .banner_content {
     flex-direction: column;
     text-align: center;
   }

   .heading {
     font-size: 30px;
     margin-top: 1rem;
   }

   .second_heading {
     font-size: 20px;
   }

   .banner_content img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
   }

   .image_background {
     display: none;
   }

   .profile_section {
 
    flex-direction: column;
  
   }




   .profile_section >div:last-child {
  margin-top: 2rem;
    
    margin-left: 0%;

   }



   .experiance_skill {
     flex-direction: column;
    //  margin-top: -4rem;
   }
   .experiance_skill >div {
     width: 100%;
   }

   .experiance_skill >div:last-child {
    margin-top: 4rem;
  }

  .skill h1 {
    margin: 0;
  }

  .skill >div >div{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .laguage {
    margin-top: -4rem;
  }


}


@media (min-width: 481px) and (max-width: 767px) {

  .laguage {
    flex-direction: column;
  }
 
  .banner_content {
    flex-direction: column;
    text-align: center;
  }

  .heading {
    font-size: 30px;
    margin-top: 1rem;
  }

  .second_heading {
    font-size: 20px;
  }

  .banner_content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .image_background {
    display: none;
  }

  .profile_section {

   flex-direction: column;
 
  }



  .profile_section >div:last-child {
 margin-top: 2rem;
   
   margin-left: 0%;

  }



  .experiance_skill {
    flex-direction: column;
    margin-top: -4rem;
  }
  .experiance_skill >div {
    width: 100%;
  }

  .experiance_skill >div:last-child {
   margin-top: 4rem;
 }

 .laguage {
   margin-top: -4rem;
 }

}


@media (min-width: 768px) and (max-width: 1024px){
  .banner_content {
    flex-direction: column;
    text-align: center;
  }

  .heading {
    font-size: 30px;
    margin-top: 1rem;
  }

  .second_heading {
    font-size: 20px;
  }

  .banner_content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .image_background {
    display: none;
  }

  .profile_section {

   flex-direction: column;
 
  }




  .profile_section >div:last-child {
 margin-top: 2rem;
   
   margin-left: 0%;

  }




  .experiance_skill {
    flex-direction: column;
    margin-top: -4rem;
  }
  .experiance_skill >div {
    width: 100%;
  }

  .experiance_skill >div:last-child {
   margin-top: 4rem;
 }

 .laguage {
   margin-top: -4rem;
}


}






