@import './variables.scss';


.progress_div {
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 0px 8px 3px $light-color;
    border-radius: 50px;
    padding: 3px;
    width: 100%;
}


.progress {
    height: 7px;
background: linear-gradient(89.3deg, $second-primary-color 0.44%, $primary-color 41.88%);;
    border-radius: 50px;
}


.beginner {
    width: 20%;
    animation: beginner 2s ;

}

.title_cont {
    display: flex;
    justify-content: space-between;
}

@keyframes beginner {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

.avarage {
    width: 40%;
    animation: avarage 3s ;
}


@keyframes avarage {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

.good {
    width: 60%;
    animation: good 4s;

}


@keyframes good {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

.experianced {
    width: 80%;
    animation: experianced 4s ;

}


@keyframes experianced {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}


.excelent {
    width: 100%;
    animation: excelent 4s ;

}


@keyframes excelent {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}





.title {
    text-transform: capitalize;
    font-weight: normal;
    margin-top: 11px;
    font-size: 15px;
    margin-bottom: 1px;
    font-weight:bold;
}