@import './variables.scss';


.timeline_div_container {
  // display: flex;
}

.my_position {
  // margin-top: 1rem;
  font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: -6px;
    letter-spacing: 1px;
}
.company_section {
  // margin-top:2rem;
  text-align: left;
  padding: 0.6rem;
padding-top: 0;
  padding-left: 1.5rem;
}
.company_section li {
  font-size: 15px;
    margin-bottom: 0.5rem;
}

.company_section::before{ 
  position: absolute;
  content: '';

  background-color: $primary-color;
  left: 0rem;
  height: 100%;
   width: 2px;
}
.company_section::after {
position: absolute;
  content: "";
  background-color: #EB526D;
  left: -5px;
  height: 12px;
  width: 12px;
  top: 5px;
  border-radius: 40px;
}
  // padding-right: 3rem;

.company_section_odd >div{
  // padding-left: 3rem;
  padding-right: 0;
}

// .timeline_empty_div::before {
//   content: "";
//   width: 2px;
//   position: absolute;
//   left: -2px;
// }

// .company_section_odd::before {
//   left: 0rem;
//   height: 3px !important;
// }

.timeline_div_container >div {
  flex: 1;
  position: relative;
  // text-align: center;

}


.about {
    
  margin-top: 9px;
  font-size: 14px;
  letter-spacing: 0.3px;

    color: $para-color;
  }


  .timeline_div {
      display: flex;
  }


  .start, .end {
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: -8px;
    color: $para-color;
  }

  .date {
    width: 25.2rem;
    
  }


  .timeline_line {
      background: $primary-color;
      padding: 2px;
  }




  .company {
    text-align: center;
    width: 21rem;
  }



  .timeline_company_line {
    width: 55px;
    height: 3px;
    background: $primary-color;
    align-self: center;
    }


  .timeline_company_line_dot {
    width: 12px;
    height: 11px;
    background: $primary-color;
    align-self: center;
    border-radius: 50%;
    // -webkit-box-shadow: 0px 0px 6px 1px $light-color;
    box-shadow: 0px 0px 6px 1px $secondary-color;
}

.company_name {
    font-size: 16px;
    margin-top: 9px;
    text-transform: capitalize;
    font-weight: semibold;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #525252;
}

@media (max-width: 480px) {
  .timeline_div_container >div {
    text-align: left !important;
}
.timeline_empty_div{
  display: none;
}


.timeline_div_container {
  position: relative;
}

.timeline_div_container::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2.5px;
  left: 0;
  background-color: $primary-color;
}

.company_section > div {
  // padding-right: 0;
  // padding-left: 3.5rem;
  // padding-bottom: 3rem;
}






}