
$primary-color: #EB526D;
$second-primary-color: #ED735A;
$second-light-color:lighten($second-primary-color, 30%);
$secondary-color: lighten($primary-color, 20%);
$light-color:lighten($primary-color, 33%);

// loader variables


$diameter : 100px;
$circle-line-width:20px;
$para-color:#79766c;


